<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ItemMapper">

	<select id = "todaySaleList" resultType = "Item">
     select ag.*
       from (  
             select a.item_code,
                    a.item_name,
                    a.item_category,
                    a.sale_price,
                    a.star_point,
                    MIN(b.item_image) "item_image"
                    from tb_item a
                    join tb_item_image b
                    on a.item_code = b.item_code
                    where sale_price>0     
                    group by a.item_code, a.item_name, a.item_category, a.sale_price, a.star_point
             ) ag
  <![CDATA[where rownum<=4]]>	
	</select>
	
	
</mapper>