<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ItemReviewMapper">

	<insert id="registerReview" parameterType="com.yedam.vo.ReviewVO">
		INSERT INTO TB_ITEM_REVIEW (
			review_seq,
			item_code,
			star_point,
			reviewDetail,
			created_By)
		VALUES (
			seq_tb_item_review.nextval,
			#{itemCode},
			#{starPoint},
			#{reviewDetail},
			#{userId})
	</insert>
	
</mapper>