<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ItemReviewMapper">

	<insert id="registerReview" parameterType="com.yedam.vo.ReviewVO">
	  <selectKey keyProperty="reviewSeq" resultType="int" order="BEFORE">
        SELECT seq_tb_item_review.NEXTVAL FROM dual
      </selectKey>
		INSERT INTO TB_ITEM_REVIEW (
    				review_seq,
    				item_code,
    				star_point,
    				reviewDetail,
    				created_By,
    				updated_By)
    	VALUES (
    				#{reviewSeq},
    				#{itemCode},
    				#{starPoint},
    				#{reviewDetail},
    				#{userId},
    				#{userId})
	</insert>
	
	<insert id="registerReviewImage">
		INSERT INTO TB_ITEM_REVIEW_IMAGE (
    				review_seq,
    				review_image,
    				created_by,
    				updated_by)
    	VALUES (
   					#{reviewSeq},
   					#{image},
   					#{userId},
   					#{userId})
	</insert>
	
</mapper>