<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.MyCartMapper">

	<select id="selectCartList" parameterType="String" resultType="com.yedam.vo.MyBasketVO">
		SELECT  b.user_id,
		        b.item_code,
		        b.item_qty,
		        i.item_name,
		        i.sale_price,
		        i.price,
		        i.delivery_price
		FROM    tb_basket  b
		JOIN    tb_item    i  ON i.item_code = b.item_code
		WHERE   b.user_id = #{userId}
	</select>
	
	<insert id ="insertMyCart" parameterType="myCart">
		MERGE INTO tb_basket bas
		USING ( SELECT #{userId} user_id,
		               #{itemCode} item_code,
		               #{itemQty} item_qty
		          FROM dual) new
		   ON ( bas.item_code = new.item_code
		  AND bas.user_id = new.user_id )
		 WHEN NOT MATCHED THEN
		INSERT ( user_id,
		         item_code,
		         item_qty )
		VALUES ( new.user_id,
		         new.item_code,
		         new.item_qty )
		 WHEN MATCHED THEN 
		UPDATE
		   SET bas.item_qty = bas.item_qty + new.item_qty
	</insert>
	
	<select id="selectCartCount" parameterType="String" resultType="myCart">
	SELECT COUNT (*) total_count
	     , SUM (CASE WHEN sale_price = 0 THEN i.price
	            ELSE i.sale_price
	             END) total_price
	  FROM tb_basket b
	  JOIN tb_item i
		ON i.item_code = b.item_code
	 WHERE b.user_id = #{userId}
	 GROUP BY user_id
	</select>
	
</mapper>