<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.OrderDetailMapper">

	<select id="selectOrderList" parameterType="String" resultType="com.yedam.vo.OrderDetailVO">
        SELECT o.order_no,
               d.orderdetail_no,
               d.item_code,
               i.item_name,
               d.item_qty,
               d.item_price,
               o.order_date
        FROM tb_order o
        JOIN tb_orderdetail d ON o.order_no = d.order_no
        JOIN tb_item i ON d.item_code = i.item_code
        WHERE o.user_id = #{userId}
    </select>
    
</mapper>