<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%5level [%thread] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.yedam.mapper.UserMapper">
    <level value="debug"/>
  </logger>
  
  <logger name="com.yedam.mapper.ItemMapper">
    <level value="debug"/>
  </logger>
  
  <logger name="com.yedam.mapper.MenuMapper">
    <level value="debug"/>
  </logger>

  <logger name="com.yedam.mapper.MyCartMapper">
	<level value="debug" />
  </logger>
  
  
  <root level="error">
    <appender-ref ref="stdout"/>
  </root>

</configuration>